$white: #ffffff;

$white-light: #f1f1f1;

$white-light2: #f3f3f3;

$white-light3: #f5f5f5;

$white-light4: #f9f9f9;

$gray: #5c5c5c;

$primary: #C39E4D;

$secondary: #484E5D;

$tertiary: #181e27;
/*      Colors      */

.color-white {
  color: $white;
}

.color-white-light {
  color: $white-light;
}

.color-white-light2 {
  color: $white-light2;
}

.color-white-light3 {
  color: $white-light3;
}

.color-white-light3 {
  color: $white-light4;
}

.color-gray {
  color: $gray;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-tertiary {
  color: $tertiary;
}

/*      /Colors      */

/*      Backgrounds      */

.bg-white {
  background-color: $white;
}

.bg-white-light {
  background-color: $white-light;
}

.bg-white-light2 {
  background-color: $white-light2;
}

.bg-white-light3 {
  background-color: $white-light3;
}

.bg-white-light3 {
  background-color: $white-light4;
}

.bg-gray {
  background-color: $gray;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

/*      /Backgrounds      */