/*      NORMALIZE      */
@import "helpers/normalize";
/*      /NORMALIZE      */

/*      ANIMATE      */
@import "helpers/animate";
/*      /ANIMATE      */

/*      VARIABLES      */
@import "partials/variable";
/*      /VARIABLES      */

/*      FONTS      */
@import "partials/fonts";
/*      /FONTS      */

/*      COLORS      */
@import "partials/color";
/*      /COLORS      */

/*      DIMENSIONS      */
@import "partials/dimensions";
/*      /DIMENSIONS      */

/*      SPACING      */
@import "partials/spacing";
/*      /SPACING      */

/*      BORDERS      */
@import "partials/border";
/*      /BORDERS      */

/*      BORDER RADIUS      */
@import "partials/border-radius";
/*      /BORDER RADIUS      */

/*      OVERFLOW      */
@import "partials/overflow";
/*      /OVERFLOW      */

/*      POSITIONS      */
@import "partials/positions";
/*      /POSITIONS      */

/*      ROTATION      */
@import "partials/rotations";
/*      /ROTATION      */

/*      DEFAULTS      */

body {
  font-family: $font-poppins;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
}

a:hover, a:focus, a:active {
  color: $secondary;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-control {
  background-clip: unset;
}

.heading-separator {
  width: 100px;
  height: 1px;
}

.heading-separator-small {
  width: 50px;
  height: 1px;
}

/*      /DEFAULTS      */
