/*      FOOTER      */

footer {

  .footer-wrapper {
    height: 55px;

    span {
      line-height: 1.5;
    }

    .footer-logo {

      .img-logo {
        max-height: 35px;
      }

    }

  }

}

/*      /FOOTER      */